.header {
  width: 100%;
  max-height: 7rem;
  height: 100%;
  color: black;
  // background-color: rgba(230, 225, 240, 0.3);
  .flex(space-between, center, row-reverse);
  position: fixed;
  top: 10%;
  z-index: 2;
  margin-top: -2rem; 

  @media @mobile {
    max-width: 100%;
    .flex(center, space-between, column-reverse);
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
  }

    

  .search {
    display: none;
    margin: 1rem;
    width: 5rem;
    height: 1.3rem;
    border: .08rem solid black;
    opacity: .7;
    align-self: flex-start;
    
      p {
        align-self: center;
        margin: .2rem;
        font-size: .8rem;
      }
    
  }

  h1 {
    display: none;
    height:100%;
    font-size: 48px;
    margin-left: -3rem;

    @media @mobile {
      display: block;
      margin: 1rem;
    }
  }

}