.header {
  width: 100%;
  max-height: 7rem;
  height: 100%;
  color: black;
  // background-color: rgba(230, 225, 240, 0.3);
  .flex(space-between, center, row-reverse);
  position: fixed;
  top: 10%;
  z-index: 2;
  margin-top: -2rem; 
  

  .search {
    display: none;
    margin: 1rem;
    width: 8rem;
    height: 2rem;
    border: .2rem solid black;
    
      p {
        align-self: center;
        margin: .2rem;
      }
    
  }

  h1 {
    display: none;
    height:100%;
    font-size: 48px;
    margin-left: -3rem;
  }

}