.width-100 {
  width: 100%;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: grey;
  font-family: 'PT Sans', sans-serif;
}
.header {
  width: 100%;
  max-height: 7rem;
  height: 100%;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  position: fixed;
  top: 10%;
  z-index: 2;
  margin-top: -2rem;
}
.header .search {
  display: none;
  margin: 1rem;
  width: 8rem;
  height: 2rem;
  border: 0.2rem solid black;
}
.header .search p {
  align-self: center;
  margin: 0.2rem;
}
.header h1 {
  display: none;
  height: 100%;
  font-size: 48px;
  margin-left: -3rem;
}
.menu-button {
  right: 20px;
  width: 4rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  cursor: pointer;
  margin: 1.6rem;
}
.menu {
  display: none;
  position: fixed;
  width: 100px;
  max-height: 100%;
  margin-top: 6rem;
  margin-right: 0.7rem;
  align-self: flex-end;
  z-index: 2;
}
.menu ul {
  padding-inline-start: 0;
  margin-right: 1rem;
}
.menu ul li {
  list-style-type: none;
  font-size: 1.3rem;
  padding: 5px 0;
  text-align: center;
  color: black;
}
.menu ul li a {
  color: black;
  margin-top: 1rem;
  text-decoration: none;
}
.menu--open {
  display: block;
}
.inner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 3rem;
  flex-wrap: wrap;
  width: 85%;
}
.intro {
  width: 100%;
  width: 92%;
  margin-top: 1rem;
}
.intro h1 {
  text-align: center;
  margin: 3rem;
}
.intro h2 {
  text-align: center;
}
.intro p {
  text-align: center;
}
.tiles {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.tiles a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.style {
  width: 30%;
  border-radius: 3%;
  margin: 0.3rem;
  padding: 1rem 1rem 1rem;
  color: white;
}
.style h2 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.style .content {
  display: none;
  font-size: 0.6rem;
}
.style1 {
  background: rgba(232, 106, 161, 0.3);
}
.style2 {
  background-color: #5979E8;
}
.style3 {
  background-color: #57E9FF;
}
.style4 {
  background-color: #FF579F;
}
.style5 {
  background-color: #A5E860;
}
.style6 {
  background-color: #AF71FF;
}
.style7 {
  background-color: #E8D16A;
}
.style8 {
  background-color: #71ADFF;
}
.style9 {
  background-color: #E86AA1;
}
.style10 {
  background-color: #8EB7E8;
}
.style11 {
  background-color: #71FFF0;
}
.style12 {
  background-color: #65FFD5;
}
.style13 {
  background-color: #8D6AE8;
}
.style14 {
  background-color: #FF0000;
}
.style15 {
  background-color: #DA65FF;
}
.style16 {
  background-color: #FF7105;
}
