.width-100 {
  width: 100%;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
@media ( max-width: 515px ) {
  html,
  body {
    width: 100%;
  }
}
body {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: grey;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  max-width: 100rem;
  width: 90%;
}
@media ( max-width: 515px ) {
  body {
    width: 100%;
  }
}
.header {
  width: 100%;
  max-height: 7rem;
  height: 100%;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  position: fixed;
  top: 10%;
  z-index: 2;
  margin-top: -2rem;
}
@media ( max-width: 515px ) {
  .header {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column-reverse;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.header .search {
  display: none;
  margin: 1rem;
  width: 5rem;
  height: 1.3rem;
  border: 0.08rem solid black;
  opacity: 0.7;
  align-self: flex-start;
}
.header .search p {
  align-self: center;
  margin: 0.2rem;
  font-size: 0.8rem;
}
.header h1 {
  display: none;
  height: 100%;
  font-size: 48px;
  margin-left: -3rem;
}
@media ( max-width: 515px ) {
  .header h1 {
    display: block;
    margin: 1rem;
  }
}
.menu-button {
  right: 20px;
  width: 40%;
  cursor: pointer;
  margin: 1.6rem;
  font-size: 3.5rem;
}
@media ( max-width: 515px ) {
  .menu-button {
    display: none;
  }
}
.menu {
  display: none;
  position: fixed;
  width: 100px;
  max-height: 100%;
  margin-top: 6rem;
  margin-right: 0.3rem;
  align-self: flex-end;
  z-index: 2;
}
@media ( max-width: 515px ) {
  .menu {
    display: inline-block;
    margin: 0;
    width: 100%;
    position: relative;
    align-self: center;
    min-height: 10%;
  }
}
.menu ul {
  padding-inline-start: 0;
  margin-right: 0.6rem;
}
@media ( max-width: 515px ) {
  .menu ul {
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;
    margin-top: 0;
    width: 102%;
  }
}
.menu ul li {
  list-style-type: none;
  font-size: 1.3rem;
  padding: 5px 0;
  text-align: center;
  color: black;
  margin: 0.2rem;
  font-style: "Source Sans Pro", Helvetica, sans-serif;
}
.menu ul li a {
  color: black;
  margin-top: 1rem;
  text-decoration: none;
}
@media ( max-width: 515px ) {
  .menu ul li {
    background-color: white;
    margin: 0;
    padding: 1rem;
  }
}
@media ( max-width: 515px ) {
  .ul1 {
    border-top: 0.05rem solid black;
    width: 100%;
  }
}
@media ( max-width: 515px ) {
  .ul2 {
    border-top: 0.05rem solid black;
    border-bottom: 0.05rem solid black;
    width: 100%;
  }
}
@media ( max-width: 515px ) {
  .ul3 {
    border-bottom: 0.05rem solid black;
    width: 100%;
  }
}
.menu--open {
  display: block;
}
.inner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 3rem;
  flex-wrap: wrap;
  width: 85%;
}
@media ( max-width: 515px ) {
  .inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}
.intro {
  max-width: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 92%;
  margin-top: 10rem;
}
.intro a {
  text-decoration: none;
  color: grey;
}
@media ( max-width: 515px ) {
  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
  }
}
.intro .intro-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.intro .intro-button button {
  border-radius: 15%;
  width: 10rem;
  height: 4rem;
  font-size: 1.6rem;
  background-color: #E3E3E8;
  color: Black;
  align-self: center;
  cursor: pointer;
}
@media ( max-width: 515px ) {
  .intro .intro-button button {
    display: block;
    align-self: center;
    margin: 2rem;
  }
}
.intro h1 {
  color: black;
}
@media ( max-width: 515px ) {
  .intro h1 {
    display: none;
  }
}
.tiles {
  max-width: 80%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.tiles a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.style {
  width: 30%;
  border-radius: 3%;
  color: white;
}
@media ( max-width: 515px ) {
  .style {
    width: 100%;
    margin-top: 2rem;
  }
}
.style h2 {
  top: 30%;
  position: absolute;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  z-index: 2;
}
.style .content {
  display: none;
  font-size: 0.6rem;
}
.style1 {
  position: relative;
}
.style1:hover {
  transform: scale(1.1);
}
.style1 img {
  width: 100%;
  margin: 0;
  border-radius: 3%;
}
.style1 .color1 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(232, 106, 161, 0.5);
  border-radius: 3%;
}
.style1 .color1:hover {
  opacity: 0;
}
.style2 {
  position: relative;
}
.style2:hover {
  transform: scale(1.1);
}
.style2 img {
  width: 100%;
  margin: 0;
  border-radius: 3%;
}
.style2 .color2 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(235, 159, 239, 0.5);
  border-radius: 3%;
}
.style2 .color2:hover {
  opacity: 0;
}
.style3 {
  position: relative;
}
.style3:hover {
  transform: scale(1.1);
}
.style3 img {
  width: 100%;
  margin: 0;
  border-radius: 3%;
}
.style3 .color3 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(155, 177, 255, 0.5);
  border-radius: 3%;
}
.style3 .color3:hover {
  opacity: 0;
}
.style4 {
  position: relative;
}
.style4:hover {
  transform: scale(1.1);
}
.style4 img {
  width: 100%;
  margin: 0;
  border-radius: 3%;
}
.style4 .color4 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #9cb2cc;
  border-radius: 3%;
}
.style4 .color4:hover {
  opacity: 0;
}
.style5 {
  position: relative;
}
.style5:hover {
  transform: scale(1.1);
}
.style5 img {
  width: 100%;
  margin: 0;
  border-radius: 3%;
}
.style5 .color5 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #9ce6cc;
  border-radius: 3%;
}
.style5 .color5:hover {
  opacity: 0;
}
@media ( max-width: 515px ) {
  .style5 {
    display: none;
  }
}
.style6 {
  position: relative;
}
.style6:hover {
  transform: scale(1.1);
}
.style6 img {
  width: 100%;
  margin: 0;
  border-radius: 3%;
}
.style6 .color6 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #9b58ff;
  border-radius: 3%;
}
.style6 .color6:hover {
  opacity: 0;
}
@media ( max-width: 515px ) {
  .style6 {
    display: none;
  }
}
.style7 {
  position: relative;
}
.style7:hover {
  transform: scale(1.1);
}
.style7 img {
  width: 100%;
  margin: 0;
  border-radius: 3%;
}
.style7 .color7 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #eb5def;
  border-radius: 3%;
}
.style7 .color7:hover {
  opacity: 0;
}
@media ( max-width: 515px ) {
  .style7 {
    display: none;
  }
}
.style8 {
  position: relative;
}
.style8:hover {
  transform: scale(1.1);
}
.style8 img {
  width: 100%;
  margin: 0;
  border-radius: 3%;
}
.style8 .color8 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #4499ea;
  border-radius: 3%;
}
.style8 .color8:hover {
  opacity: 0;
}
@media ( max-width: 515px ) {
  .style8 {
    display: none;
  }
}
.style9 {
  position: relative;
}
.style9:hover {
  transform: scale(1.1);
}
.style9 img {
  width: 100%;
  margin: 0;
  border-radius: 3%;
}
.style9 .color9 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #7ed37b;
  border-radius: 3%;
}
.style9 .color9:hover {
  opacity: 0;
}
@media ( max-width: 515px ) {
  .style9 {
    display: none;
  }
}
footer {
  width: 100%;
  max-width: 80%;
  display: flex;
}
.inner-footer {
  width: 100%;
  flex-wrap: wrap;
}
.inner-footer h2 {
  text-align: center;
}
.icons {
  list-style-type: none;
  background-color: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding-inline-start: 0;
}
.icons .fab {
  color: black;
}
.icons a {
  text-decoration: none;
}
@media ( max-width: 515px ) {
  .icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
}
.style {
  width: 30%;
  border-radius: 3%;
  margin: 0.3rem;
  color: white;
}
@media ( max-width: 515px ) {
  .style {
    width: 100%;
    margin-top: 2rem;
  }
}
.style h2 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.style .content {
  display: none;
  font-size: 0.6rem;
}
.about-style1 img {
  width: 100%;
}
.about-style2 img {
  width: 100%;
}
.about-style3 img {
  width: 100%;
}
.about-style4 img {
  width: 100%;
}
.about-style5 img {
  width: 100%;
}
