@import './Less/variables';     
@import './Less/mixins';                  
                          
   
* {       
  box-sizing: border-box;   
}   
 
html, body {                            
  margin: 0;          
  padding: 0;                                             
}                                             
                        
body {  
  .flex(none, center, column); 
  background-color: white;
  color: grey;
  font-family: "Source Sans Pro", Helvetica, sans-serif;    
}
 
@import './components/Header/Header';
@import './components/Menu/Menu';  
@import './components/Tiles/Tiles';
@import './components/Footer/Footer';         
