
.container {
  @media @mobile { 
    max-width: 100%;  
    width: 100%; 
  }
}
// the whole container for inner elements

.inner {
  .width-100();
  margin: 0 auto;
  .flex(center, center, row);
  margin-left: 3rem;
  flex-wrap: wrap;
  width: 85%;

  @media @mobile {
    .flex(center, center, column);
    width: 100%;
    margin:0; 
  }

  .cta {
    .flex(center, center, row);
    width: 70%;
    top: 8%;
    left: 20%;
    position: absolute;
    font-size: 1.6rem;

    strong {
      font-weight: bold;
      color: black;
    }

    @media @mobile { 
      display: none; 
    } 

    a {
      text-decoration: none;
      color: black;
      cursor: pointer;
      border-bottom: 1px solid black;
      border-width: 2px;
      
    }
  }
  
}

// intro paragraph
.intro {
  // .test();
  max-width: 80%;
  width: 100%;
  .flex(center, flex-start, column);
  width: 92%;
  margin-top: 5rem;

  a {
    text-decoration: none;
    color: grey;
  }

  @media @mobile {
    .flex(center, center, column);
    margin-top: 10rem;
    max-width: 100%;
    width: 100%;

    h2 {
      text-align: center;
      width: 80%;
    }

    p {
      display: none;
    }


  }

  .intro-button {
    .flex(center, center, column);
    width: 100%;

    button {
      display: none;
      border-radius: 15%;
      width: 20rem;
      height: 4rem;
      font-size: 1.6rem;
      background-color: #E3E3E8;
      color: Black;
      align-self: center;
      cursor: pointer;
    }

    @media @mobile {
      button {
      display: block;
      align-self: center;
      margin: 2rem;
      border-radius: 15%;
      width: 10rem;
      height: 4rem;
      font-size: 1.6rem;
      background-color: #E3E3E8;
      color: Black;
      align-self: center;
      cursor: pointer;
      }

    }
  }
  
    h1 {
      color: black;

      @media @mobile {
        display: none;
      }

    }
  
  }

  // parent container holding boxes

.tiles {
  max-width: 80%;
  width: 100%;
  .flex(space-around, center, row);
  flex-wrap: wrap;

  @media @mobile { 
    max-width: 100%;  
    width: 100%; 
  }


// all content in boxes is wrapped in a 'a' reference tag
  a {
    color: white;
    text-decoration: none;
    .flex(center, center, column);
  }

}

// controls the style of all individual boxes
.style {
  width: 30%;
  border-radius: 3%;
  color: white;


  @media @mobile {
    max-width: 100%;
    width: 100%;
    margin-top: 2rem;
  }
  
  h2 {
    top: 30%;
    position: absolute;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    // z-index: 2;
    
  }

  .content {
    display: none;
    font-size: .6rem;

    @media @mobile { 
      max-width: 100%;  
      width: 100%; 
    }
  }
}

// Individual box colors
.style1 {

  &:hover {
    transform: scale(1.1);
  }

  position: relative;

  img {
    width: 100%;
    margin: 0;
    border-radius: 3%;
    z-index: 2;
    
  }
  .color1 {
    
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    position: absolute;
    background: rgba(232, 106, 161, .5);
    border-radius: 3%;
    &:hover {
      opacity: 0;
    }
  }
}

  
  .style2 {
  
    &:hover {
      transform: scale(1.1);
    }

    position: relative;

    img {
      width: 100%;
      margin: 0;
      border-radius: 3%;
      
    }
    .color2 {
     
      top: 0;
      left: 0;
      width: 100%;
      height: 98%;
      position: absolute;
      background: rgba(235, 159, 239, .5);
      border-radius: 3%;
      &:hover {
        opacity: 0;
      }
    }
  }

  .style3 {
  
    &:hover {
      transform: scale(1.1);
    }

    position: relative;

    img {
      width: 100%;
      margin: 0;
      border-radius: 3%;
      
    }
    .color3 {
     
      top: 0;
      left: 0;
      width: 100%;
      height: 98%;
      position: absolute;
      background: rgba(155, 177, 255, .5);
      border-radius: 3%;
      &:hover {
        opacity: 0;
      }
    }
  }

  .style4 {
  
    &:hover {
      transform: scale(1.1);
    }

    position: relative;

    img {
      width: 100%;
      margin: 0;
      border-radius: 3%;
      
    }
    .color4 {
     
      top: 0;
      left: 0;
      width: 100%;
      height: 98%;
      position: absolute;
      background: rgba(156, 178, 204, .5);
      border-radius: 3%;
      &:hover {
        opacity: 0;
      }
    }
  }


  .style5 {
  
    &:hover {
      transform: scale(1.1);
    }

    position: relative;

    img {
      width: 100%;
      margin: 0;
      border-radius: 3%;
      
    }
    .color5 {
     
      top: 0;
      left: 0;
      width: 100%;
      height: 98%;
      position: absolute;
      background: rgba(156, 230, 204, .5);
      border-radius: 3%;
      &:hover {
        opacity: 0;
      }
    }
    @media @mobile {
      display: none
    }
  }

  .style6 {
  
    &:hover {
      transform: scale(1.1);
    }

    position: relative;

    img {
      width: 100%;
      margin: 0;
      border-radius: 3%;
      
    }
    .color6 {
     
      top: 0;
      left: 0;
      width: 100%;
      height: 98%;
      position: absolute;
      background: rgba(155, 88, 255, .5);
      border-radius: 3%;
      &:hover {
        opacity: 0;
      }
    }
    @media @mobile {
      display: none
    }
  }

  .style7 {
  
    &:hover {
      transform: scale(1.1);
    }

    position: relative;

    img {
      width: 100%;
      margin: 0;
      border-radius: 3%;
      
    }
    .color7 {
     
      top: 0;
      left: 0;
      width: 100%;
      height: 98%;
      position: absolute;
      background: rgba(235, 93, 239, .5);
      border-radius: 3%;
      &:hover {
        opacity: 0;
      }
    }
    @media @mobile {
      display: none
    }
  }

  .style8 {
  
    &:hover {
      transform: scale(1.1);
    }

    position: relative;

    img {
      width: 100%;
      margin: 0;
      border-radius: 3%;  
    }

    .color8 {
     
      top: 0;
      left: 0;
      width: 100%;
      height: 98%;
      position: absolute;
      background: rgba(68, 153, 234, .5);
      border-radius: 3%;
      &:hover {
        opacity: 0;
      }
    }

    @media @mobile {
      display: none
    }
  }

.style9 {

  &:hover {
    transform: scale(1.1);
  }

  position: relative;

  img {
    width: 100%;
    margin: 0;
    border-radius: 3%;
    
  }
  .color9 {
    
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    position: absolute;
    background: rgba(126, 211, 123, .5);
    border-radius: 3%;
    &:hover {
      opacity: 0;
    }
  }

  @media @mobile {
      display: none
    }
}

