.menu-button {
  // position: absolute;
  right: 20px;
  width: 4rem;
  background-color: grey;
  border-radius: 50%;
  cursor: pointer;
  margin: 1.2rem;
}

.menu {
  display: none;
  position: fixed;
  width: 100px;
  max-height: 100%; 
  margin-top: 4rem;
  margin-right: 0.7rem;
  align-self: flex-end;
  z-index: 2; 
}

.menu ul {
  padding-inline-start: 0;
}

.menu ul li{
  list-style-type: none;
  font-size: 1rem;
  padding: 5px 0;
  text-align: center;
  color: black;
}

.menu--open {
  display: block;
}