.menu-button {
  // position: absolute;
  right: 20px;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  cursor: pointer;
  margin: 1.6rem;

  @media @mobile {
    display: none;
  }
}

.menu {
  display: none;
  position: fixed;
  width: 100px;
  max-height: 100%; 
  margin-top: 6rem;
  margin-right: 0.3rem;
  align-self: flex-end;
  z-index: 2; 

  @media @mobile {
    display: inline-block;
    margin: 0;
    width: 100%;
    position: relative;
    align-self: center;
    min-height: 10%;

  }
}

.menu ul {
  padding-inline-start: 0;
  margin-right: .6rem;
  
    @media @mobile {
    .flex(center, space-between, column);
    margin-top: 0;
    width: 102%;
    
  }
}

.menu ul li{
  list-style-type: none;
  font-size: 1.3rem;
  padding: 5px 0;
  text-align: center;
  color: black;
  margin: .2rem;

    a {
      color: black;
      margin-top: 1rem;
      text-decoration: none;
    }

    @media @mobile {
      background-color: white;
      margin: 0;
      padding: 1rem;
    }

}

.ul1{
  
  @media @mobile {
  border-top: .05rem solid black;
  width: 100%;
  }
}

.ul2{
  
  @media @mobile {
  border-top: .05rem solid black;
  border-bottom: .05rem solid black;
  width: 100%;
  }
}

.ul3{
  
  @media @mobile {
  border-bottom: .05rem solid black;
  width: 100%;
  }
}



.menu--open {
  display: block;
}